:root {
    padding: 0px;
    margin: 0px;

    overflow: hidden;

    /* Palette by Slynyrd: https://lospec.com/palette-list/steam-lords */
    background-color: #2f213b;
    color: #a0b9ba;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;;
}

.ascii-line {
    white-space: nowrap;
    font-family: "Roboto Mono", monospace;
}

a {
    color: inherit;
}