:root {
    padding: 0px;
    margin: 0px;

    overflow: hidden;

    /* Palette by Slynyrd: https://lospec.com/palette-list/steam-lords */
    background-color: #2f213b;
    color: #a0b9ba;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;;
    font-family: "Roboto Mono", monospace;
}

.ascii-line {
    white-space: nowrap;
    cursor:cell;
}


a {
    color: inherit;
}

span {
    background-color: transparent;
    border: none;
    color: inherit;
    text-align: center;
    font-size: inherit;
    width: auto;
    min-width: 1em;
    border-bottom: #a0b9ba dashed 2px;
    cursor: text;
}

text {
}

span:focus {
    border-bottom: #a0b9ba solid 2px;
    outline: none;
}